.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}